@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #e5e5e5;
}





/*PRODUTOS EM ALTA*/

main #produtos_em_alta {
    width: 100%;
    height: 1100px;
    position: relative;
    background-color: rgb(236, 233, 243);
    position: relative;
}
main #produtos_em_alta .desconto h3{
    position: absolute;
    font-size: 16px;
    width: 110px;
    height: 32px;
    border-radius: 29px;
    background-color:  #E7FF86;
    text-align: center;
    padding: 6px;
    top: 90px;
    left: 35px;
    color: #474747;
    font-weight: 700px;
}
main #produtos_em_alta .desconto2 h3{
    position: absolute;
    font-size: 16px;
    width: 110px;
    height: 32px;
    border-radius: 29px;
    background-color:  #E7FF86;
    text-align: center;
    padding: 6px;
    top: 90px;
    left: 465px;
    color: #474747;
    font-weight: 700px;
}
main #produtos_em_alta .esquerda a{
    position: absolute;
    right: 100px;
    color: #C92071;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.75px;
    z-index: 1;
    transition-duration: 400ms;
}
main #produtos_em_alta .esquerda a:hover{
    cursor: pointer;
    text-decoration: underline;
}
main #produtos_em_alta h1:nth-child(1) {
    text-indent: 110px;
    font-size: 30px;
}
main #produtos_em_alta .container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main #produtos_em_alta .container a {
    text-decoration: none;
    color: black;
}
main #produtos_em_alta .produtos {
    width: 400px;
    height: 400px;
    margin-top: 80px;
}
main #produtos_em_alta .produtos strike{
    text-decoration: line-through;
    color: #585757;
}
main #produtos_em_alta .produtos img {
    background-color: #FFF;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 30px;
}
main #produtos_em_alta .produtos h3, main #produtos_em_alta .produtos
main #produtos_em_alta .produtos h2, main #produtos_em_alta .produtos h1 {
    margin-top: 15px;
} 


/*BANNER RODAPE*/

main #banner_rodape {
    width: 100%;
    height: 600px;
    background-color: #FFF;
}
main #banner_rodape .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}
main #banner_rodape .container .imagem {
    width: 700px;
    border-radius: 8px;
    position: relative;
    z-index: 0;
}
main #banner_rodape .container .imagem .overlay {
    width: 100%;
    height: 100%;
}
main #banner_rodape .container .imagem .overlay::after{
    content: ""; /* Adiciona essa linha */
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #4200FF25
    , white);
    right: 150px;
    top: -200px;
    z-index: 0;
}
main #banner_rodape .container .imagem img {
    position: absolute;
    width: 100%;
    right: 110px;
    top: -140px;
    z-index: 1;
}
main #banner_rodape .container .text {
    width: 700px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
main #banner_rodape .container .text h3 {
    font-size: 14px;
    color: #C92071;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    position: absolute;
    left: 5px;
    top: 82px;
}
main #banner_rodape .container .text h1 {
    font-size: 48px;
    color: #474747;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    padding-left: 5px;
}
main #banner_rodape .container .text p {
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;    
    letter-spacing: 0.75px;
    padding-left: 5px;
    
}
main #banner_rodape .container .text button {
    font-family: inter;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: #C92071;
    color: #FFF;
    position: absolute;
    left: 5px;
    top: 400px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    cursor: pointer;
    border: none;
}
main #banner_rodape .container .text button:hover {
    text-decoration: underline;
    font-weight: 700;
}

/* COLECAO DESTAQUE */

#colections {
    background-color: #f9f8fe;
    padding: 38px 100px;
}

#colections h5 {
    color: #474747;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .75px;
    line-height: 38px;
    margin-bottom: 20px;
}

#colections h5.center {
    text-align: center;
}

#colections .destaque {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#colections .destaque li {
    background-color: #d8e3f2;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: calc(33.33% - 8px);
}

#colections .destaque li .content {
    left: 0;
    padding-left: 30px;
    padding-top: 34px;
    position: absolute;
    top: o;
}

#colections .destaque li .content span {
    background-color: #e7ff86;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .75px;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
}

#colections .destaque li .content h4 {
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 36px;
    margin-bottom: 20px;
    width: 200px;
}

#colections .destaque li .content a{
    background-color: #f5f5f5;
    border-radius: 8px;
    color: #c92071;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    padding: 0 40px;
    transition: .2s;
}

#colections .destaque li .content a:hover {
    background-color: #7e7d7dd2;
    color: white;
}

#colections .icons {
    display: flex;
    justify-content: center;
}

#colections .icons li {
    margin: 0 24px;
    text-align: center;
}

#colections .icons li .icon.active {
    box-shadow: 0 4px 25px rgba(0,0,0,.05);
}

#colections .icons li h6 {
    color: #474747;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .75px;
    line-height: 22px;
}

/*ESPAÇO PARA O FOOTER*/